langchain
langchain-core
langchain-experimental
langchain-text-splitters
langchain-community
langchain-aws
langchain-cohere
langchain-google-genai
langchain-openai
langchain-ollama
langchain-huggingface
langgraph
langsmith
anthropic
google-generativeai
faiss-cpu
chromadb
unstructured
pypdf
docx2txt
python-decouple
openpyxl
crewai
crewai-tools
arxiv
xmltodict
biopython
html2text
requests-html
cohere
ollama
transformers
sentence-transformers